<div class="app-container">
  <div style="display: flex;flex-flow: row; align-items: center;">
    <button mat-raised-button color="primary" type="button" mat-button (click)="sideNav.opened ?sideNav.close() : sideNav.open()">Open Side Nav</button>
    <div>SHIT</div>
  </div>
  <mat-sidenav-container>
    <mat-sidenav #sideNav mode="side" opened="true">
      <!-- sidenav content -->
      <!--<nav>-->
      <div class="side-nav-section">
        <div routerLink="/welcome" routerLinkActive="active" class="side-nav-section">Welcome</div>
        <div routerLink="/kidzcorner" routerLinkActive="active" class="side-nav-section">Kidz Corner</div>
      </div>
      <!--</nav>-->
    </mat-sidenav>
    <!-- primary content -->
    <router-outlet></router-outlet>
  </mat-sidenav-container>
</div>
