.app-container {
  display: flex;
  flex-flow: column;
  height: 100%;
}

mat-sidenav-container {
  display: flex;
  flex: 1;
}

mat-sidenav {
  width: 200px;
}

.side-nav-section{
  padding: 5px;
  outline: 0 !important;
  cursor: pointer;
}
