<div class="page-not-found">
  <h1>404</h1>
  <p>
    Hey dunkass there's nothing here.
  </p>
  <!--<div class="hide-over-container">-->
    <!--<div class="rotating">-->
      <!--<div class="horizontal-container">-->
        <!--<img class="alien rotating" src="../../assets/ayylmao.gif">-->
        <!--<img class="alien rotating" src="../../assets/ayylmao.gif">-->
      <!--</div>-->
      <!--<div class="horizontal-container">-->
        <!--<img class="alien rotating" src="../../assets/ayylmao.gif">-->
        <!--<img class="alien rotating" src="../../assets/ayylmao.gif">-->
      <!--</div>-->
    <!--</div>-->
  <!--</div>-->
  <div class="hide-over-container">
    <img class="alien rotating" src="../../assets/ayylmao.gif">
  </div>

  <!--<div class="horizontal-container">-->
  <!--<img class="alien rotating" src="../../assets/ayylmao.gif">-->
  <!--<img class="alien rotating" src="../../assets/ayylmao.gif">-->
  <!--</div>-->
</div>
