<h1 class="mz-title">Flood Fill</h1>
<div class="mz-body">
  <button (click)="handleClick()" class="mz-button">Start</button>
  <button (click)="handleCreateNewArray()" class="mz-button">Create New Array</button>
  <button (click)="handleCreateFixedArray()" class="mz-button">Fixed Array</button>
  <button (click)="findPerimeters()" class="mz-button">Find Perimeters</button>
  <h1>Grid</h1>
  <div>
    <div *ngFor="let row of array?.grid">{{row}}</div>
  </div>
  <div *ngFor="let row of mzArray.grid">
    {{row}}
  </div>
  <h1>Result</h1>
  <div>{{result}}</div>
</div>
